
    body{
        font-family: 'Mulish', sans-serif;
        margin:0px; /*Relevante debido a que quita el márgen predeterminado de todas las páginas*/
        background-image: linear-gradient(#9dc4b8, #1c1f41);
    }
    .header{
        width: 100%;
        background-color: transparent;
        height: 80px;
        display: flex; /*Las 3 lineas siguientes hacen que las cosas se organicen en el header*/
        justify-content: space-between;
        align-items: center;
    }
    .header__img{
        width: 150px;
        margin: 0px 0px 10px 5px;
    }
    .header__menu--profile{
        display: flex;
        margin-right: 30px;
        align-items: center; /*Alinea la imagen y el texto de perfil*/
    }
    .header__menu--profile img{
        width: 40px;
        height: 40px;
        margin: 0px 3px;
    }
    .header__menu--profile p{
        color: beige;
        margin: 0px; /*Es relevante para que al momento de pasar del texto a la lista desplegable no desaparezca*/
    }
    .header__menu ul{
        display:none; /*Esconde el elemento*/
        text-align: right;
        list-style: none; /*Quita los puntos predeterminados de la lista*/
        padding: 0px;
        width: 100px;
        position: absolute;
        margin: 0px 0px 0px -14px; /*Alineación del menú desplegable con el resto del profile*/
    }
    .header__menu:hover ul, ul:hover {
      display: block; /*Hace visible el elemento cuando se hace hover (Pasar el mouse por encima)*/
    }
    .header__menu li{
        margin: 10px 0px;
    }
    .header__menu li a{
        color:beige;
        text-decoration: none;
    }
    .header__menu li a:hover{
        text-decoration: underline;
    }
    
    .footer{
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
    }
    .footer a{
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
    .footer a:hover{
        text-decoration: underline;
    }
    @media only screen and (max-width: 600px) {
        .login__container{
            background-color: transparent;
            border: none;
            padding: 0px;
            width: 100%;
        }
        .footer {
            align-items: flex-start;
            flex-direction: column;
            padding-top: 3%;
        }
    }