body{
    font-family: 'Mulish', sans-serif;
    margin:0px;
}
header{
    width: 100%;
    background-color: skyblue;
    height: 80px;
}
.header{
    width: 100%;
    background-color: #9dc4b8;
    color: white;
    top: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 150px;
    margin: 0px 0px 10px 5px;
}
.header__menu--profile{
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.header__menu--profile img{
    width: 40px;
    height: 40px;
    margin: 0px 3px;
}
.header__menu--profile p{
    color: beige;
    margin: 0px;
}
.header__menu ul{
    display:none;
    text-align: right;
    list-style: none;
    padding: 0px;
    width: 100px;
    position: absolute;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover {

    display: block;
}
.header__menu li{
    margin: 10px 0px;
}
.header__menu li a{
    color:beige;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.login{
    background-image: linear-gradient(#9dc4b8, #1c1f41);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container__form{
    flex-direction: column;
    display: flex;
}
.login__container__form label{
    font-size: 14px;
}
.login__container__remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container__remember-me a{
 color: white;
 text-decoration: none;
 font-size: 14px;
}
.login__container__remember-me a:hover{
 text-decoration: underline;
}
.login__container--social--media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social--media > div > img{
width: 30px;
margin-right: 10px;
}
.login__container--register{
    font-size: 14px;
}
.login__container--register a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.login__container--register a{
    text-decoration: underline;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    font-family: 'Mulish', sans-serif;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 30px;
}
::placeholder{
    color:rgba(255, 255, 255, 0.81);
}

.login__container__form button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer{
    background-color: #1c1f41;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
        padding-top: 3%;
    }
}